<!-- The Modal -->
<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <div class="row">
      <div class="col-md-auto padding-right-0">
        <div class="block-head__caption">
          <div class="block-head__title">
            <h3 class="block-head__title-text">Update Member</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">ID</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [value]="updateForm.id.value" [disabled]="true">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">Name</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [formControl]="updateForm.full_name">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">Acount</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [formControl]="updateForm.account">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">Date of Birth</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [formControl]="updateForm.date_of_birth">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">Gender</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [formControl]="updateForm.gender">
      </div>
      <!-- <div class="col-md-8">
        <select class="width-per-100 form-control" >
          <option>--</option>
          <option>FerMale</option>
          <option>Male</option>
        </select>
      </div> -->
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">Phone</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [formControl]="updateForm.phone_number">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="padding-top-8">Marital Status</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [formControl]="updateForm.marital_status">
      </div>
    </div>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button class="btn btn-light" (click)="onCloseModalUpdate()">Close</button>
    <button class="btn btn-warning" (click)="onUpdateMember()">update</button>
  </div>

</div>